codecs/amrnb/third_party/pv/** -whitespace
firmware/esp32_2432s028_hlv_player_id_c/qemu/patches/*.patch text eol=lf -whitespace
firmware/esp32_2432s028_hlv_player_id_c/qemu/modified_sources/** text eol=lf -whitespace
*.exe filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
